.sidebar .sidebar-header {
    border-bottom: 1px solid #4169e1 !important;
    border-right: 1px solid #4169e1 !important;
}

.sidebar .sidebar-body {
    border-right: 1px solid #4169e1 !important;
}

.sidebar .sidebar-header .sidebar-toggler span {
    background: #4169e1 !important;
}

// .sidebar .sidebar-body .sidebar-nav .nav-item>.nav-link {
//     color: #4169e1 !important;
// }