<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0">Bank Pricing</h4>
    </div>

</div>

<div class="row">
    <div class="row flex-grow-1">
        <div class="col-md-12 grid-margin stretch-card ">
            <div class="card p-3">
                <section class="invoicebody">
                    <div class="content-wrapper">



                        <div class="table-responsive pt-1 ">

                            <button type="submit" class="btn btn-primary btnDark float-end mb-3"> <i class="mdi mdi-plus"></i> Add Processor</button>

                            <table class="table table-bordered table-sm table-hover tbl-addpricingProccessor">
                                <thead>
                                    <tr>
                                        <th>Processor Name</th>
                                        <th>Credit Card</th>
                                        <th>Debit Card</th>
                                        <th>Net Banking </th>
                                        <th>Third Party</th>
                                        <th>Pay Out</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>CashFree</td>
                                        <td><i class="mdi mdi-check text-success"></i> </td>
                                        <td><i class="mdi mdi-check text-success"></i> </td>
                                        <td><i class="mdi mdi-check text-success"></i> </td>
                                        <td><i class="mdi mdi-check text-success"></i> </td>
                                        <td><i class="mdi mdi-check text-success"></i> </td>
                                        <td>
                                            <div ngbDropdown class="mb-2">
                                                <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton">
                                              <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                                            </button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                                                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                                                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Lyra</td>
                                        <td><i class="mdi mdi-check text-success"></i> </td>
                                        <td><i class="mdi mdi-check text-success"></i> </td>
                                        <td><i class="mdi mdi mdi-close text-danger"></i> </td>
                                        <td><i class="mdi mdi-check text-success"></i> </td>
                                        <td><i class="mdi mdi-check text-success"></i> </td>
                                        <td>
                                            <div ngbDropdown class="mb-2">
                                                <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton">
                                            <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                                          </button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                                                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                                                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>ISG</td>
                                        <td><i class="mdi mdi-check text-success"></i> </td>
                                        <td><i class="mdi mdi mdi-close text-danger"></i> </td>
                                        <td><i class="mdi mdi-check text-success"></i> </td>
                                        <td><i class="mdi mdi-check text-success"></i> </td>
                                        <td><i class="mdi mdi-check text-success"></i> </td>
                                        <td>
                                            <div ngbDropdown class="mb-2">
                                                <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton">
                                          <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                                        </button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                                                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                                                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Nupay</td>
                                        <td><i class="mdi mdi-check text-success"></i> </td>
                                        <td><i class="mdi mdi mdi-close text-danger"></i> </td>
                                        <td><i class="mdi mdi-check text-success"></i> </td>
                                        <td><i class="mdi mdi-check text-success"></i> </td>
                                        <td><i class="mdi mdi mdi-close text-danger"></i> </td>
                                        <td>
                                            <div ngbDropdown class="mb-2">
                                                <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton">
                                        <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                                      </button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                                                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                                                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>





                                </tbody>
                            </table>
                        </div>


                    </div>
                </section>
            </div>
        </div>
    </div>
</div>