<div class="row">
    <div class="row flex-grow-1">
        <div class="col-md-12 grid-margin stretch-card ">
            <div class="card p-3">
                <section class="invoicebody">
                    <div class="content-wrapper">
                        <form action="">

                            <div class="row">


                                <div class="col-sm-3">
                                    <div class="form-group list-filter-item">
                                        <select name="" id="" class="form-select ">
                                        <option selected disabled>Please Select Processor</option>
                                        <option value="cashfree">Cash free</option>
                                        <option value="lyra">Lyra</option>
                                        <option value="nupay">Nupay</option>
                                    </select>
                                    </div>
                                </div>

                                <div class="col-sm-6">

                                    <input class="form-control" type="file" id="formFile" accept=".csv">

                                    <div class="upload-btn-wrapper">
                                        <!-- <button class="btn">Upload File</button>
                                        <input type="file" name="myfile" (change)="readURL($event)" accept=".csv" /> -->

                                    </div>



                                </div>
                                <div class=" mt-3">
                                    <button type="submit" class="btn btn-primary ">Submit</button>
                                </div>

                            </div>
                        </form>




                    </div>
                </section>
            </div>
        </div>
    </div>


</div>