// ::-webkit-file-upload-button {
//     background: black;
//     color: red;
//     padding: 1em;
// }
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

input::file-selector-button {
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    border: 2px solid #4169E1;
    border-radius: 0px;
}