<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0">Merchant Virtual Account</h4>
    </div>

</div>

<div class="row">
    <div class="row flex-grow-1">
        <div class="col-md-12 grid-margin stretch-card ">
            <div class="card p-3">
                <section class="invoicebody">
                    <div class="content-wrapper">



                        <div class="table-responsive pt-1 ">

                            <button type="submit" class="btn btn-primary btnDark float-end mb-3">Download CSV</button>

                            <table class="table table-bordered table-sm table-hover" id="dataTableReport">
                                <thead>
                                    <tr>
                                        <th>MID</th>
                                        <th>Account Name</th>
                                        <th>Account No.</th>
                                        <th>Balance</th>
                                        <th>Status</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1898</td>
                                        <td>Cashfree </td>
                                        <td>NUPAYCFT000001</td>
                                        <td align="right"><strong>&#x20b9; 1000.00</strong> </td>
                                        <td> <span class="badge bg-success">Active</span></td>
                                        <td><a href="">Download</a></td>
                                    </tr>
                                    <tr>
                                        <td>1798</td>
                                        <td>Lyra</td>
                                        <td>NUPAYCFT000001</td>
                                        <td align="right"> <strong>&#x20b9; 1000.00</strong></td>
                                        <td> <span class="badge bg-danger">Inactive</span></td>
                                        <td><a href="">Download</a></td>
                                    </tr>








                                </tbody>
                            </table>
                        </div>


                    </div>
                </section>
            </div>
        </div>
    </div>
</div>