.nav-tabs {
    border-bottom: 1px solid #4169E1;
}

.nav.nav-tabs .nav-item .nav-link {
    // border-color: #4169E1 #4169E1 #4169E1;
    border-color: #4169e100 #4169e100 #4169E1;
    color: #000;
    background-color: #f8f9fa;
    cursor: pointer;
}

.nav.nav-tabs .nav-item .nav-link.active {
    // border-color: #dee2e6 #dee2e6 #fff;
    color: #ffffff;
    background: #4169E1;
}

input {
    background-color: #e1e1e130;
    border-bottom: 2px solid #717171;
    // background: #707070;
    // opacity: 0.2;
    // border-radius: 2px 2px 0px 0px;
}

// ::-webkit-input-placeholder {
//     /* Edge */
//     color: #000;
// }
//  :-ms-input-placeholder {
//     /* Internet Explorer 10-11 */
//     color: #000;
// }
//  ::placeholder {
//     color: #000;
// }