<div class="row">
    <div class="row flex-grow-1">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card p-3">
                <section class="invoicebody">
                    <div class="content-wrapper">



                        <div class="table-responsive pt-1">

                            <button type="submit" class="btn btn-primary btnDark float-end mb-3" (click)="addBank()"> <i class="mdi mdi-plus"></i> Add Processor</button>

                            <div class="col-sm-3">
                                <input type="text" class="form-control w-100" placeholder="Search..." name="customer" [(ngModel)]="filterTerm">
                            </div>

                            <table class="table table-bordered table-sm table-hover tbl-addpricingProccessor">
                                <thead>
                                    <tr>
                                        <th>Processor Name</th>
                                        <th>Credit Card</th>
                                        <th>Debit Card</th>
                                        <th>Net banking </th>
                                        <th>Third Party</th>
                                        <th>Pay Out</th>
                                        <th>Created Date</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of PaymentProcessorList | filter: filterTerm | paginate: { itemsPerPage:10, currentPage: p, totalItems: total }  let i = index">
                                        <td style="text-align:left">{{item.processor_name}}</td>

                                        <td class="text-success">
                                            <i class="text-success"></i> <span placement="top" ngbTooltip="Credit Card">{{item.method_type[0] ? 'CC': '-'}} </span></td>
                                        <!-- [ngClass]=" item.method_type[0]==='CC' || item.method_type[0]==='' ? 'mdi mdi-check text-success' : 'mdi mdi mdi-close text-danger'" -->
                                        <td class="text-success"><i class=""></i>
                                            <span placement="top" ngbTooltip="Debit Card">{{item.method_type[1] ? 'DC': '-'}}</span> </td>
                                        <!-- [ngClass]=" item.method_type[1]==='DC' || item.method_type[1]==='' ? 'mdi mdi-check text-success' : 'mdi mdi mdi-close text-danger'" -->
                                        <td class="text-success"><i class=""></i>
                                            <span placement="top" ngbTooltip="Net Banking">{{item.method_type[2] ? 'NB':'-'}}</span></td>
                                        <!-- [ngClass]=" item.method_type[2]==='NB' || item.method_type[2]==='' ? 'mdi mdi-check text-success' : 'mdi mdi mdi-close text-danger'" -->
                                        <td class="text-success"><i class=""></i>
                                            <span placement="top" ngbTooltip="Third Party">{{item.method_type[3] ? 'TP': '-'}}</span></td>
                                        <!-- [ngClass]=" item.method_type[3]==='TP' || item.method_type[3]==='' ? 'mdi mdi-check text-success' : 'mdi mdi mdi-close text-danger'" -->

                                        <td class="text-success"><i class=""></i> <span placement="top" ngbTooltip="Payout">{{item.method_type[4] ? 'PO': '-'}}</span></td>
                                        <!-- [ngClass]=" item.method_type[4]==='PO' || item.method_type[4]==='' ? 'mdi mdi-check text-success' : 'mdi mdi mdi-close text-danger'" -->
                                        <td>{{item.created_at | date:'medium'}}</td>
                                        <td>
                                            <a class="ms-1" (click)="editPaymentProcessor()">
                                                <span class="badge bg-primary">
                                        <em class="mdi mdi-lead-pencil" ></em>
                                        </span>
                                            </a>
                                        </td>
                                    </tr>







                                </tbody>
                            </table>
                        </div>
                        <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>



<div class="addproccingDetails " *ngIf="addbankPage">

    <div class="card cardA">
        <div class="card-header align-items-center d-flex justify-content-between">
            <h3 class="TopTitile"> Add Payment Processor</h3>
            <button type="button" class="btn-close float-end closebtn" (click)="cloneAddBank()" aria-label="Close"></button>
        </div>
        <div class="card-body perfect-scrollbar-example" [perfectScrollbar]>
            <form [formGroup]="addproccingForm" (ngSubmit)="addproccingSubmit()">

                <div class="row">

                    <!-- processor name     -->
                    <div class="col-sm-12 mb-3">
                        <div class="form-group list-filter-item">
                            <label>Processor Name</label>
                            <input type="text" name="id" class="form-control input-sm" placeholder="Processor Name" formControlName="payment_processor_name">

                        </div>
                    </div>
                    <!-- /processor name     -->

                    <!-- processor_data []  -->
                    <div class="col-sm-12 mb-3" formArrayName="processor_data">

                        <div *ngFor="let processorData of processor_data().controls; let i=index" class="card-body mb-3 border p-2">

                            <div [formGroupName]="i">
                                <!-- processor Type -->
                                <div class="col-sm-12 mb-2">
                                    <label for="processor_type" class="form-label">Select processor Type</label>
                                    <select name="" id="processor_type" formControlName="processor_type" class="form-control form-select" (change)="onChange($event.target.value)">
                                    <option selected disabled>Please Select processor Type</option>
                                    <option   value="{{data.value}}" *ngFor="let data of cards">{{data.name}}</option>
                                    <!-- <option value="business">Business</option> -->
                                </select>

                                </div>
                                <!-- /processor Type -->


                                <div formArrayName="api_fields">

                                    <div *ngFor="let apifield of employeeSkills(i).controls ; let j=index">

                                        <div [formGroupName]="j" class="d-flex">
                                            <div class="col-sm-6 mb-2 me-2 ">
                                                <input type="text" name="id" class="form-control input-sm" placeholder="API Field Title" formControlName="key">
                                            </div>
                                            <div class="col-sm-6 mb-2">
                                                <input type="text" name="id" class="form-control input-sm" placeholder="API Field Element Name" formControlName="value">

                                            </div>
                                        </div>

                                    </div>



                                </div>
                                <button type="button" class="badge bg-primary float-end border-0" (click)="addapi_fields(i)">
                                + Add Field
                              </button>
                                <div style="clear:both"></div>
                            </div>

                        </div>
                        <button type="button" class="btn btn-primary badge" (click)="addprocessor_data()">Add Processor</button>
                    </div>

                    <!-- processor_data -->

                    <!-- Avaliable for Merchants -->
                    <div class="col-sm-12 mb-3">
                        <label>Avaliable for Merchants?</label>
                        <div class="form-group list-filter-item d-flex mt-2">

                            <div class="form-check me-3">
                                <input class="form-check-input" type="radio" id="Yes" value="1" formControlName="avail_for_merchant">
                                <label class="form-check-label" for="Yes">
                             Yes
                            </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="No" value="0" formControlName="avail_for_merchant">
                                <label class="form-check-label" for="No">
                             No
                            </label>
                            </div>

                        </div>
                    </div>
                    <!-- /Avaliable for Merchants -->

                    <!-- Country -->
                    <div class="col-sm-12 mb-3">
                        <div class="form-group list-filter-item">
                            <label>Country</label>
                            <input type="text" name="id" class="form-control input-sm" placeholder="Country" formControlName="country">


                        </div>
                    </div>
                    <!-- / Country -->

                    <!-- Status -->
                    <div class="col-sm-12 mb-3">
                        <label>Status</label>
                        <div class="form-group list-filter-item d-flex mt-2">

                            <div class="form-check me-3">
                                <input class="form-check-input" type="radio" id="enable" value="1" formControlName="status">
                                <label class="form-check-label" for="enable">
                              Enable
                            </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="Disabled" value="0" formControlName="status">
                                <label class="form-check-label" for="Disabled">
                             Disabled
                            </label>
                            </div>

                        </div>
                    </div>
                    <!-- / Status -->


















                    <div class="d-flex justify-content-left mt-3">
                        <button type="submit" class="btn btn-primary btnDark">Submit</button>
                        <button type="reset" class="btn btn-secondary ms-2">Clear</button>

                    </div>

                </div>







            </form>
            <!-- {{addproccingForm.value | json}} -->
        </div>
    </div>


</div>
<div class="popup" id="popup1"></div>