<div class="row">
    <div class="row flex-grow-1">
        <div class="col-md-12 grid-margin stretch-card ">
            <div class="card p-3">
                <section class="invoicebody">
                    <div class="content-wrapper">
                        <form action="">

                            <div class="row">


                                <div class="col-sm-3">
                                    <div class="form-group list-filter-item">
                                        <select name="" id="" class="form-select ">
                                    <option selected disabled>Please Select Refund Status</option>
                                    <option value="Payin">Payin</option>
                                    <option value="Payout">Payout</option>
                                </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group list-filter-item">
                                        <!-- <label>Start Date</label> -->
                                        <input type="text" name="" class="form-control input-sm" placeholder="Transaction ID">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group list-filter-item">
                                        <!-- <label>End Date</label> -->
                                        <input type="text" name="" class="form-control input-sm" placeholder="Merchant ID" value="">
                                    </div>
                                </div>


                                <!-- 
                              <div class="d-flex justify-content-left mt-3">
                                  <button type="submit" class="btn btn-primary btnDark">Generate Report</button>

                                  <button type="submit" class="btn btn-secondary ms-2">Clear</button>
                              </div> -->

                            </div>







                        </form>

                        <hr>
                        <div class="table-responsive pt-1 ">
                            <table class="table table-bordered table-sm table-hover" id="dataTableReport">
                                <thead>
                                    <tr>
                                        <th>Refund ID</th>
                                        <th>Processor</th>
                                        <th>Trans. ID </th>
                                        <th>Merc. ID</th>
                                        <th>Trans. Amt</th>
                                        <th>Ref. Amt</th>
                                        <th>Request Date</th>
                                        <th>Action Date</th>
                                        <th>Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>RF123</td>
                                        <td>Cash Free </td>
                                        <td>85043</td>
                                        <td>2136</td>
                                        <td>₹ 10,000.00 </td>
                                        <td>₹ 10,000.00 </td>
                                        <td>17/01/22 16:46:25 </td>
                                        <td> - </td>
                                        <td> <a class="text-primary"> View</a> </td>
                                    </tr>
                                    <tr>
                                        <td>RF123</td>
                                        <td>Lyra </td>
                                        <td>85043</td>
                                        <td>2136</td>
                                        <td>₹ 10,000.00 </td>
                                        <td>₹ 10,000.00 </td>
                                        <td>17/01/22 16:46:25 </td>
                                        <td> - </td>
                                        <td> <a class="text-success"> Approved</a> </td>
                                    </tr>
                                    <tr>
                                        <td>RF123</td>
                                        <td>Nupay </td>
                                        <td>85043</td>
                                        <td>2136</td>
                                        <td>₹ 10,000.00 </td>
                                        <td>₹ 10,000.00 </td>
                                        <td>17/01/22 16:46:25 </td>
                                        <td> - </td>
                                        <td> <a class="text-danger"> Rejected</a> </td>
                                    </tr>
                                    <tr>
                                        <td>RF123</td>
                                        <td>Nupay </td>
                                        <td>85043</td>
                                        <td>2136</td>
                                        <td>₹ 10,000.00 </td>
                                        <td>₹ 10,000.00 </td>
                                        <td>17/01/22 16:46:25 </td>
                                        <td> - </td>
                                        <td> <a class="text-primary"> View</a> </td>
                                    </tr>







                                </tbody>
                            </table>
                        </div>


                    </div>
                </section>
            </div>
        </div>
    </div>
</div>